<div class="container">
    <p>VietSpeak là một cộng đồng luyện nói tiếng Anh phi lợi nhuận dành cho người Việt.</p>
    <p>Hoạt động của VietSpeak rất đơn giản, ai cũng có thể theo được:</p>
    <ul>
        <li>
        Bước 1: Chọn một trong 4 mức độ luyện tập (từ đọc một từ đơn lẻ
        đến đọc một đoạn phát biểu dài). Mỗi mức độ sẽ có phần bài đọc
        và bài nghe do người bản xứ nói. Từ hai phần này, các bạn có thể
        tự nghe, tự sửa lỗi, tự tập.
        </li>
        <li>
        Bước 2: Nộp bài thu âm và nhận xét cho hai người bạn kề trên
        trong 10 ngày.
        </li>
        <li>
        Bước 3: Các bạn sẽ nhận được nhận xét từ phần mềm VietSpeak Bot
        và ít nhất hai người bạn khác.
        </li>
    </ul>
    <p>
    Để đảm bảo chất lượng học tập, các bạn không nộp bài thu âm hoặc
    không nhận xét chất lượng cho các thành viên khác trong thời hạn
    10 ngày sẽ bị loại khỏi nhóm.
    </p>
    <p>
    Ngoài ra, nhiều thành viên thường xuyên tổ chức các buổi giao lưu,
    chia sẻ kinh nghiệm nghe-nói-đọc-viết và các buổi nói chuyện chỉ
    dùng tiếng Anh giúp các bạn nâng cao khả năng nghe và khả năng
    phản xạ khi nói. Các thành viên VietSpeak đa số đều có tinh thần
    hiếu học, sẵn sàng chia sẻ kiến thức và giúp đỡ nhau trong việc
    học tập tiếng Anh.
    </p>
    <p>
    Nếu bạn thấy nhóm sẽ hữu ích cho bản thân và quyết tâm theo học
    cùng nhóm thì hãy đăng kí tại
    <a href="https://register.vietspeak.org">https://register.vietspeak.org</a>
    </p>
    <p>
    Sau khi đăng kí xong, các bạn có thể kiểm tra trạng thái xét duyệt
    đơn đăng kí của mình ở
    <a href="https://status.vietspeak.org/">https://status.vietspeak.org/</a>
    </p>
</div>