<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>{{username}}</h2>
            <strong>Số bài nộp chính thức: {{number_of_official_submissions}}</strong><br>
            <strong>Điểm trung bình: {{average_score}}</strong><br>
            <strong>Rating: {{rating_score}} {{rating_ranking_str|safe}}</strong><br>
            <strong>Max rating: {{max_rating_score}}</strong>
            <h3>Huy chương</h3> 
            <div>
                <table class="table">
                    <tr>
                        <th>Gold</th>
                        <th>Silver</th>
                        <th>Bronze</th>
                    </tr>
                    <tr>
                        <th>{{gold_medals}}</th>
                        <th>{{silver_medals}}</th>
                        <th>{{bronze_medals}}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            <h2>Stress and intonation</h2>
            <table class="table">
                <tr>
                    <th style="width:20%">Primary stress</th>
                    <td>
                        {{primary_stress_progress_bar|safe }}
                    </td>
                </tr>
                <tr>
                    <th>Secondary stress</th>
                    <td>
                        {{secondary_stress_progress_bar|safe}}
                    </td>
                </tr>
                <tr>
                    <th>No stress</th>
                    <td>
                        {{no_stress_progress_bar|safe}}
                    </td>
                </tr>
            </table>
            <h2>Pronunciation</h2>
            <table class="table">
                {{pronunciation_table|safe}}
            </table>
        </div>
    </div>
</div>