<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>{{username}}</h2>
            <strong>Số bài nộp chính thức: {{number_of_official_submissions}}</strong><br>
            <strong>Điểm trung bình: {{average_score}}</strong><br>
            <strong>Rating: {{rating_score}} {{rating_ranking_str|safe}}</strong><br>
            <strong>Max rating: {{max_rating_score}}</strong>
            <h3>Huy chương</h3> 
            <div>
                <table class="table">
                    <tr>
                        <th>Gold</th>
                        <th>Silver</th>
                        <th>Bronze</th>
                    </tr>
                    <tr>
                        <th>{{gold_medals}}</th>
                        <th>{{silver_medals}}</th>
                        <th>{{bronze_medals}}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingStress">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStress" aria-expanded="false" aria-controls="collapseStress">
                        Stress and intonation
                      </button>
                    </h2>
                    <div id="collapseStress" class="accordion-collapse collapse" aria-labelledby="headingStress" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <table class="table">
                            <tr>
                                <th style="width:20%">Primary stress</th>
                                <td>
                                    {{primary_stress_progress_bar|safe }}
                                </td>
                            </tr>
                            <tr>
                                <th>Secondary stress</th>
                                <td>
                                    {{secondary_stress_progress_bar|safe}}
                                </td>
                            </tr>
                            <tr>
                                <th>No stress</th>
                                <td>
                                    {{no_stress_progress_bar|safe}}
                                </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSound">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSound" aria-expanded="false" aria-controls="collapseSound">
                            Pronunciation
                        </button>
                    </h2>
                    <div id="collapseSound" class="accordion-collapse collapse" aria-labelledby="headingSound" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                {{pronunciation_table|safe}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            
            <script>
                const ctx = document.getElementById('myChart');
                
                const labels = {{min_task_to_max_task_list|tojson|safe}};

                const data = {
                    labels: labels,
                    datasets: [
                      {
                        label: 'Rating',
                        data: {{rating_history_data|tojson|safe}}
                      }
                    ]
                };

                const config = {
                    type: 'line',
                    data: data,
                    options: {
                      scales: {
                        x: {
                          title: {
                            display: true,
                            text: 'Task Number'
                          },
                        },
                        y: {
                          title: {
                            display: true,
                            text: 'Rating'
                          },
                        }
                      }
                    },
                };

                new Chart(ctx, config);
            </script>
        </div>
    </div>
</div>